body {
  padding: 10px;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 5px;;
}
header img {
  padding-left: 10px;
}

*{
  font-family: 'Poppins', sans-serif;
   -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}


img {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}
img {
  pointer-events: none;
}
.movie-card{
  padding: 0 !important;
  min-width: 200px;
  max-width: 300px;
  margin:14px; 
  border-radius: 10px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}
.movie-card img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 10rem;
}
.movie-info{
  color: #5e5c5c;
}

.card-title{
  width: 80%;
  height: 4rem;
}

.now-playing-container {
  flex: 1;
  display: flex;
  overflow: auto;
}

.now-playing {
  display: flex;
  min-height: min-content;
  padding: 0 0 4rem 0;
}
.card-body:nth-child(2) {
  font-size: 0.7rem;
}

.more-popular-container {
  display: flex;
  justify-content: center;
  flex-basis: auto;
  flex-wrap: wrap;
}