<app-header></app-header>

<div class="detail-movie-container">
  <h1>{{ selectedMovie.title }}</h1>
  <div
    class="bg-image"
    [ngStyle]="{'background-image': 'url(' + imageBaseUrl + selectedMovie.poster_path + ')'}"
  ></div>
  <div class="description">
    <div
      class="bg-image"
      [ngStyle]="{'background-image': 'url(' + imageBaseUrl + selectedMovie.backdrop_path + ')'}"
    ></div>
    <span>{{ selectedMovie.overview }}</span>
  </div>
  <h2>Reparto</h2>
  <div class="characters">
    <div class="character-card" *ngFor="let actor of actors | keyvalue">
      <img [src]="imageBaseUrl + actor.value.profile_path" alt="">
      <p>{{ actor.value.name }}</p>
    </div>
  </div>
</div>